.navBarIcon {
    color:white;    
    /* height: 2em;
    font-size: 2rem; */
}

.navBar {
    background-color: #3f4a7a;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuBar {
    margin:1.5rem;    
    font-size: 2rem;
    background:none;
}

.navMenuDiv {
    visibility: visible;
}

.navMenu-closed {    
    visibility: hidden;
    width: 10rem;
    display: flex;
    position: fixed;
    height: 100vh;
    transition:1s;
}

.navMenu-open {
    background-color: #3f4a7a;
    width:10rem;
    height: 91vh;
    color:white;
    display: flex;
    position:fixed;
    transition:1s;
}

.navMenuItemList {
    transition:1s;
}


.navText {
    color: white;
    text-decoration: none;
    font-size: medium;
}

body {
    margin:0%;
}

ul {
    list-style-type: none;
}