.navBarIcon {
    color:white;    
    /* height: 2em;
    font-size: 2rem; */
}

.navBar {
    background-color: #3f4a7a;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuBar {
    margin:1.5rem;    
    font-size: 2rem;
    background:none;
}

.navMenu {    
    background:none;
    font-size:2rem;
}

.navMenu-closed {    
    background-color: #3f4a7a;
    width:5rem;
    height: 100vh;
    color:white;
    display: flex;
    position:fixed;
    
}

.navMenu-open {
    left: 0;
}

.navText {
    color: white;
}

body {
    margin:0%;
}